@import url(nav/site.css);

@import url(datepick/datepick.css);

@import url(common/bootstrap-responsive.min.css);

@import url(common/bootstrap-combined.min.css);

@import url(common/bootstrap-datetimepicker.min.css);

@import url(common/font-awesome.min.css);

@import url(table/resize.css);

@import url(jqueryUI/color.css);

@import url(jqueryUI/demo.css);

@import url(jqueryUI/easyui.css);

@import url(jqueryUI/icon.css);

@import url(loadingAnimation/loading.css);

@import url(mainFrame_Body.css);

@import url(mainFrame_Login.css);

.floatChat {
	background-color: #096;
	width: 100px;
	z-index: 999;
	position: fixed;
	bottom: 30;
	_position: absolute;
	_top: expression_r(documentElement.scrollTop +   	
		 documentElement.clientHeight-this.offsetHeight);
	overflow: visible;
	filter: alpha(opacity = 90); /*IE滤镜，透明度50%*/
	-moz-opacity: 0.9; /*Firefox私有，透明度50%*/
	opacity: 0.9
}

}
.bordline {
	border-radius: 50px;
	TEXT-ALIGN: center;
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
	background-color: #CCCCFF;
}

.option-inline-radio label {
	display: inline-block;
	*display: inline;
	*zoom: 18
}

.divBkColor {
	height: 5px;
	border-radius: 5px;
	background-color: #CCCCFF;
}

#maintainCenter, #personCenter, #stuBookingEntry {
	/*	display:block;
	display:none;*/
	
}
input[type="text"].small{
	width: 100px
} 
