.mainFrame_Login,.mainFrame_SignUp {
	position: absolute;
	top: 400px;
	width: 70em;
	height: 450px;
	margin-top: -15em;
	margin-left: 2em;
	/*border: 1px solid red;*/
	line-height: 30px;
	text-align: center;
	background-color: transparent;
	/*background-image: url("../image/background/loginBlur.jpg");*/
	display: none;
}
.mainFrame_SignUp{
	margin-top: -19em;
}


#userLoginForm,.mainFrame_Table {
	margin-left: auto;
	margin-right: auto;
	width: 33em;
	height: 21em;
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, .2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background: rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
	box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
	overflow: hidden;
	font-family: '微软雅黑', '宋体', '隶书', '华文中宋', '仿宋';
	text-aligin: left;
	vertical-align: center;
}

.mainFrame_Table {
	width: 40em;
	height: 40em;
}

.resetBtn,.loginBtn {
	font-family: '微软雅黑', '宋体', '隶书', '华文中宋', '仿宋';
	width: 138px;
	height: 44px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float: right;
	border: 1px solid #253737;
	background: #416b68;
	background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3),
		to(#416b68));
	background: -webkit-linear-gradient(top, #6da5a3, #416b68);
	background: -moz-linear-gradient(top, #6da5a3, #416b68);
	background: -ms-linear-gradient(top, #6da5a3, #416b68);
	background: -o-linear-gradient(top, #6da5a3, #416b68);
	background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
	padding: 10.5px 21px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset
		rgba(255, 255, 255, 0.7) 0 1px 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset
		rgba(255, 255, 255, 0.7) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset
		rgba(255, 255, 255, 0.7) 0 1px 0;
	text-shadow: #333333 0 1px 0;
	color: #e1e1e1;
}

.resetBtn:hover,.loginBtn:hover {
	border: 1px solid #253737;
	text-shadow: #333333 0 1px 0;
	background: #416b68;
	background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0),
		to(#416b68));
	background: -webkit-linear-gradient(top, #77b2b0, #416b68);
	background: -moz-linear-gradient(top, #77b2b0, #416b68);
	background: -ms-linear-gradient(top, #77b2b0, #416b68);
	background: -o-linear-gradient(top, #77b2b0, #416b68);
	background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
	color: #fff;
}

.resetBtn:active,.loginBtn:active {
	margin-top: 1px;
	text-shadow: #333333 0 -1px 0;
	border: 1px solid #253737;
	background: #6da5a3;
	background: -webkit-gradient(linear, left top, left bottom, from(#416b68),
		to(#416b68));
	background: -webkit-linear-gradient(top, #416b68, #609391);
	background: -moz-linear-gradient(top, #416b68, #6da5a3);
	background: -ms-linear-gradient(top, #416b68, #6da5a3);
	background: -o-linear-gradient(top, #416b68, #6da5a3);
	background-image: -ms-linear-gradient(top, #416b68 0%, #6da5a3 100%);
	color: #fff;
	-webkit-box-shadow: rgba(255, 255, 255, 0) 0 1px 0, inset
		rgba(255, 255, 255, 0.7) 0 1px 0;
	-moz-box-shadow: rgba(255, 255, 255, 0) 0 1px 0, inset
		rgba(255, 255, 255, 0.7) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0) 0 1px 0, inset
		rgba(255, 255, 255, 0.7) 0 1px 0;
}

textarea {
	background: rgba(255, 255, 255, 0.4)
		url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll
		16px 16px;
	width: 276px;
	height: 110px;
	border: 1px solid rgba(255, 255, 255, .6);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #fff;
	padding-left: 45px;
	padding-right: 20px;
	padding-top: 12px;
	margin-bottom: 20px;
	overflow: hidden;
}

input.UsernameInput,input.UserPasswdInput,.transInput {
	width: 300px;
	height: 48px;
	border: 1px solid rgba(255, 255, 255, .4);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #fff;
	padding-left: 50px;
	padding-right: 20px;
	margin-bottom: 20px;
	margin-left: 5em;
}



input[type=button],input[type=reset] {
	cursor: pointer;
}

input.UsernameInput {
	background: rgba(255, 255, 255, 0.4)
		url(http://luismruiz.com/img/gemicon_name.png) no-repeat scroll 16px
		16px;
	padding-left: 45px;
}

input.UserPasswdInput {
	background: rgba(255, 255, 255, 0.4)
		url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll
		16px 20px;
	padding-left: 45px;
}

input.transInput {
	background: rgba(255, 255, 255, 0.4)
		url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px
		16px;
	padding-left: 45px;
}

select.transInput {
	background: rgba(255, 255, 255, 0.4)
		url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px
		16px;
	padding-left: 45px;
}

::-webkit-input-placeholder {
	color: #fff;
}

:-moz-placeholder {
	color: #fff;
}

::-moz-placeholder {
	color: #fff;
}

:-ms-input-placeholder {
	color: #fff;
}

.signupLabel {
	text-align: left;
	font-family: '微软雅黑', '宋体', '隶书', '华文中宋', '仿宋';
	font-size: 15px;
}

.signupInput {
	font-family: '微软雅黑', '宋体', '隶书', '华文中宋', '仿宋';
	font-size: 15px;
	margin: 0 auto 0 0;
}

.signup_errTips {
	background: /*#FF99FF*/ url(../image/background/err.jpg) no-repeat 10px
		50%;
	width: 90px;
	text-align: left;
	font-family: '微软雅黑', '宋体', '隶书', '华文中宋', '仿宋';
	opacity: 0.6;
	z-index: 12;
	font-size: 15px;
	color:red;
	border-radius: 10px;
	padding-left: 25px;
	font-weight:bold;
}

.signup_correctTips {
	background: /*#66FF66*/ url(../image/background/correct.jpg) no-repeat
		10px 50%;
	width: 100px;
	color:blue;
	text-align: left;
	font-family: '微软雅黑', '宋体', '隶书', '华文中宋', '仿宋';
	opacity: 0.7;
	z-index: 12;
	font-size: 15px;
	border-radius: 10px;
	padding-left: 25px;
	font-weight:bold;
}

#logOutEntry {
	color: blue;
	float: right;
	width: 100px;
	margin: 1px -18% 5px;
	font-size: 14px;
	display: none;
}

#loginEntry {
	font-size: 17px;
}

.loginLabel {
	width: 30px;
	text-align: right;
	height: 40px;
	font-family: '微软雅黑', '宋体', '隶书', '华文中宋', '仿宋';
	font-size: 18px;
}

.loginInput {
	width: 100em;
	height: 40px;
	font-family: '微软雅黑', '宋体', '隶书', '华文中宋', '仿宋';
	font-size: 18px;
	vertical-align: center;
}

#loginErrTips {
	width: 80%;
	height: 25px;
	font-size: 11px;
	color: #ed1941;
}